.chat_main {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.chat_list {
    background-color: $primary-color;
    height: 100%;
    overflow: auto;

    nav {
        display: flex;
        box-shadow: $box-shadow;
        margin: 5px;
        align-items: center;
        position: sticky;
        top: -1px;
        background-color: $primary-color;

        a {
            color: #fff;
            font-size: 1rem;
        }

        input {
            margin: 5px;
        }
    }

    .chat_overflow {
        overflow: overlay;
        height: 100%;
    }
}

.chat_search_input {
    width: 90%;
    height: calc(2.5rem + 2px);
    padding: 4px;
    border-radius: 10px;
    text-align: end;
    font-size: 1rem;
    margin: 10px 20px 10px 0;

}

.chat_list_li {
    height: 60px;
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
}

.chat_message_info {
    padding-left: 10px;
}

.text_color_light {
    color: $text-color;
    font-size: 15px;
}

.chat_message_date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_counter {
    background-color: $links-color;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    width: 50%;
    padding: 2px;
    font-size: 1rem;
}

.chat_section {
    margin: 10px;
    height: 100vh;
    overflow: auto;
    background-color: $bg-color;

    nav {
        position: sticky;
        top: -1px;
        background-color: $bg-color;
        z-index: 10;
    }
}

.chat_navigation {
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow;
    padding-bottom: 10px;
    background-color: $bg-color;

}


.chat_buttons {
    display: flex;

    img {
        cursor: pointer;
    }
}



.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: -1px;
    background-color: $bg-color;
}



.chat_message_list {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .text_color_light {
        text-align: center;
    }



    .chat_send_to_me {
        background-color: #fff;
        margin: 10px;
        width: 50%;
        border-radius: 15px 15px 15px 0;
        padding: 10px;
        position: relative;

        span {
            font-size: 14px;
            color: $text-color;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }

    .chat_send_by_me {
        background-color: $select-color;
        margin: 10px;
        width: fit-content;
        border-radius: 15px 15px 0;
        padding: 10px 50px 10px 10px;
        align-self: end;
        position: relative;

        span {
            font-size: 14px;
            color: $text-color;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }
}

.send_file {
    display: flex;
    width: 30px;

    img {
        cursor: pointer;
    }

    input[type='file'] {
        outline: 0;
        opacity: 0;
        pointer-events: none;
        user-select: none
    }
}

.white {
    color: #fff;
}

.fz_small {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.right {
    width: 90%;
    text-align: start;
}

.btn_img {
    background-color: transparent;
}

.btn_send_img {
    background-color: $button-color;
    border-radius: 10%;
    width: 30px;
    padding: 3px;
}

.chat_message_input {
    width: 100%;
    height: calc(2rem + 2px);
    padding: 5px;
    border-radius: 5px;
}
