.chat_main {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.chat_list {
    background-color: $primary-color;
    height: 100%;
    overflow: auto;

    nav {
        display: flex;
        box-shadow: $box-shadow;
        margin: 5px;
        align-items: center;
        position: sticky;
        top: -1px;
        background-color: $primary-color;

        .link_profile{
            width: 30px;
            height: 30px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2020.00%2020.00%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%20transform%3D%22translate(0%2C0)%2C%20scale(1)%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke%3D%22%23CCCCCC%22%20stroke-width%3D%224%22%3E%20%3Ctitle%3Eprofile_round%20%5B%23EAEAEA%5D%3C%2Ftitle%3E%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%3Cdefs%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cg%20id%3D%22Dribbble-Light-Preview%22%20transform%3D%22translate(-140.000000%2C%20-2159.000000)%22%20fill%3D%22%23EAEAEA%22%3E%20%3Cg%20id%3D%22icons%22%20transform%3D%22translate(56.000000%2C%20160.000000)%22%3E%20%3Cpath%20d%3D%22M100.562548%2C2016.99998%20L87.4381713%2C2016.99998%20C86.7317804%2C2016.99998%2086.2101535%2C2016.30298%2086.4765813%2C2015.66198%20C87.7127655%2C2012.69798%2090.6169306%2C2010.99998%2093.9998492%2C2010.99998%20C97.3837885%2C2010.99998%20100.287954%2C2012.69798%20101.524138%2C2015.66198%20C101.790566%2C2016.30298%20101.268939%2C2016.99998%20100.562548%2C2016.99998%20M89.9166645%2C2004.99998%20C89.9166645%2C2002.79398%2091.7489936%2C2000.99998%2093.9998492%2C2000.99998%20C96.2517256%2C2000.99998%2098.0830339%2C2002.79398%2098.0830339%2C2004.99998%20C98.0830339%2C2007.20598%2096.2517256%2C2008.99998%2093.9998492%2C2008.99998%20C91.7489936%2C2008.99998%2089.9166645%2C2007.20598%2089.9166645%2C2004.99998%20M103.955674%2C2016.63598%20C103.213556%2C2013.27698%20100.892265%2C2010.79798%2097.837022%2C2009.67298%20C99.4560048%2C2008.39598%20100.400241%2C2006.33098%20100.053171%2C2004.06998%20C99.6509769%2C2001.44698%2097.4235996%2C1999.34798%2094.7348224%2C1999.04198%20C91.0232075%2C1998.61898%2087.8750721%2C2001.44898%2087.8750721%2C2004.99998%20C87.8750721%2C2006.88998%2088.7692896%2C2008.57398%2090.1636971%2C2009.67298%20C87.1074334%2C2010.79798%2084.7871636%2C2013.27698%2084.044024%2C2016.63598%20C83.7745338%2C2017.85698%2084.7789973%2C2018.99998%2086.0539717%2C2018.99998%20L101.945727%2C2018.99998%20C103.221722%2C2018.99998%20104.226185%2C2017.85698%20103.955674%2C2016.63598%22%20id%3D%22profile_round-%5B%23EAEAEA%5D%22%3E%20%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%20%3Ctitle%3Eprofile_round%20%5B%23EAEAEA%5D%3C%2Ftitle%3E%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%3Cdefs%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22Page-1%22%20stroke-width%3D%220.0002%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cg%20id%3D%22Dribbble-Light-Preview%22%20transform%3D%22translate(-140.000000%2C%20-2159.000000)%22%20fill%3D%22%23EAEAEA%22%3E%20%3Cg%20id%3D%22icons%22%20transform%3D%22translate(56.000000%2C%20160.000000)%22%3E%20%3Cpath%20d%3D%22M100.562548%2C2016.99998%20L87.4381713%2C2016.99998%20C86.7317804%2C2016.99998%2086.2101535%2C2016.30298%2086.4765813%2C2015.66198%20C87.7127655%2C2012.69798%2090.6169306%2C2010.99998%2093.9998492%2C2010.99998%20C97.3837885%2C2010.99998%20100.287954%2C2012.69798%20101.524138%2C2015.66198%20C101.790566%2C2016.30298%20101.268939%2C2016.99998%20100.562548%2C2016.99998%20M89.9166645%2C2004.99998%20C89.9166645%2C2002.79398%2091.7489936%2C2000.99998%2093.9998492%2C2000.99998%20C96.2517256%2C2000.99998%2098.0830339%2C2002.79398%2098.0830339%2C2004.99998%20C98.0830339%2C2007.20598%2096.2517256%2C2008.99998%2093.9998492%2C2008.99998%20C91.7489936%2C2008.99998%2089.9166645%2C2007.20598%2089.9166645%2C2004.99998%20M103.955674%2C2016.63598%20C103.213556%2C2013.27698%20100.892265%2C2010.79798%2097.837022%2C2009.67298%20C99.4560048%2C2008.39598%20100.400241%2C2006.33098%20100.053171%2C2004.06998%20C99.6509769%2C2001.44698%2097.4235996%2C1999.34798%2094.7348224%2C1999.04198%20C91.0232075%2C1998.61898%2087.8750721%2C2001.44898%2087.8750721%2C2004.99998%20C87.8750721%2C2006.88998%2088.7692896%2C2008.57398%2090.1636971%2C2009.67298%20C87.1074334%2C2010.79798%2084.7871636%2C2013.27698%2084.044024%2C2016.63598%20C83.7745338%2C2017.85698%2084.7789973%2C2018.99998%2086.0539717%2C2018.99998%20L101.945727%2C2018.99998%20C103.221722%2C2018.99998%20104.226185%2C2017.85698%20103.955674%2C2016.63598%22%20id%3D%22profile_round-%5B%23EAEAEA%5D%22%3E%20%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E%0A');
        }

        input {
            margin: 5px;
        }
    }

    .chat_overflow {
        overflow: overlay;
        height: 100%;
    }
}

.chat_list::-webkit-scrollbar {
    display: none;
}

.chat_search_input {
    width: 90%;
    height: calc(2.5rem + 2px);
    padding: 4px;
    border-radius: 10px;
    text-align: end;
    font-size: 1rem;
    margin: 10px 20px 10px 0;

}

.chat_list_li {
    height: 60px;
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
}

.chat_message_info {
    padding-left: 10px;
}

.text_color_light {
    color: $text-color;
    font-size: 15px;
}

.chat_message_date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_counter {
    background-color: $links-color;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    width: 50%;
    padding: 2px;
    font-size: 1rem;
}

.chat_section {
    margin: 10px;
    height: 100vh;
    overflow: auto;
    background-color: $bg-color;

    nav {
        position: sticky;
        top: -1px;
        background-color: $bg-color;
        z-index: 10;
    }
}

.chat_navigation {
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow;
    padding-bottom: 10px;
    background-color: $bg-color;

}


.chat_buttons {
    display: flex;

    img {
        cursor: pointer;
    }
}



.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: -1px;
    background-color: $bg-color;
}



.chat_message_list {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .text_color_light {
        text-align: center;
    }



    .chat_send_to_me {
        background-color: #fff;
        margin: 10px;
        width: 50%;
        border-radius: 15px 15px 15px 0;
        padding: 10px;
        position: relative;

        span {
            font-size: 14px;
            color: $text-color;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }

    .chat_send_by_me {
        background-color: $select-color;
        margin: 10px;
        width: fit-content;
        border-radius: 15px 15px 0;
        padding: 10px 50px 10px 10px;
        align-self: end;
        position: relative;

        span {
            font-size: 14px;
            color: $text-color;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }
}

.send_file {
    display: flex;
    width: 30px;

    img {
        cursor: pointer;
    }

    input[type='file'] {
        outline: 0;
        opacity: 0;
        pointer-events: none;
        user-select: none
    }
}

.white {
    color: #fff;
}

.fz_small {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.right {
    width: 90%;
    text-align: start;
}

.btn_img {
    background-color: transparent;
}

.btn_send_img {
    background-color: $button-color;
    border-radius: 10%;
    width: 30px;
    padding: 3px;
}

.chat_message_input {
    width: 100%;
    height: calc(2rem + 2px);
    padding: 5px;
    border-radius: 5px;
}
