.profile_layout {
    display: grid;
    grid-template-columns: 40px minmax(600px, max-content);
    gap: 20%;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.profile_data {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 90vh;

    img,
    p {
        align-self: center;
    }

}

.profile_user_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 4px 0;

}

.profile_user_data {
    display: flex;
    flex-direction: column;

    .profile_user_flex:not(:last-child) {
        box-shadow: $box-shadow;
    }

}


.profile_link {
    width: 100%;
    align-self: center;



    .link {
        padding: 5px 0 10px;
        margin: 5px;
        text-align: center;
    }

    .link:not(:last-child) {
        box-shadow: 0 8px 8px -10px rgb(255 255 255 / 100%);

    }
}
